{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static './src/css/pages/amigos.css'%}">
    <link rel="icon" href="{% static './src/logo/Y-corrigida-removebg-preview.png' %}" type="image/x-icon">
    <title>Bem-Vindo ao Yorkut</title>
</head>
<body>
    <div id="loading-screen">
        <div class="spinner"></div>
        <p>Carregando...</p>
    </div>
    <script src="{% static './src/js/loading-screen.js'%}"></script>

    
    <div class="sidebar">
        <div class="logo">
            <img src="{% static './src/logo/Y-corrigida-removebg-preview.png' %}" alt="">
            <span>Yorkut</span>
        </div>
    
        <ul class="side-items">
            <a href="{% url 'card' %}" class="side-item">
                <span class="material-symbols-outlined side-icon">
                    home
                </span>
                
                <span href="" class="side-text">Inicio</span>
            </a>
            <a href="" class="side-item">
                <span class="material-symbols-outlined side-icon">
                    search
                </span>
                <span href="" class="side-text">Pesquisa</span>
            </a>
            <a href="" class="side-item">
                <span class="material-symbols-outlined side-icon">
                    notifications
                </span>
                <span href="" class="side-text">Notificações</span>
            </a>
            <a href="{% url 'amigos' %}" class="side-item ativo">
                <span class="material-symbols-outlined side-icon">
                    group_add
                </span>
                <span href="" class="side-text">Amigos</span>
            </a>
            <a href="{% url 'postar' %}" class="side-item">
                <span class="material-symbols-outlined side-icon">
                    post_add
                </span>
                <span href="" class="side-text">Postar</span>
            </a>
            <a href="{% url 'perfil' %}" class="side-item">
                <span class="material-symbols-outlined side-icon">
                    person
                </span>
                <span href="" class="side-text">Perfil</span>
            </a>
        </ul>
    
        <a href="{% url 'logout' %}" class="sair" id="sair"><span  class="material-symbols-outlined">
            logout
        </span>Sair</a>
    </div>


    <main class="main" id="main">
        <div class="header" id="header">
            <a href="{% url 'card' %}" class="btn-voltar">
                <span class="material-symbols-outlined icon">
                    arrow_back
                </span>
                <span>Voltar</span>
            </a>
        </div>

        <div class="container-amigos">
            <h2 class="titulo-amigos">Veja seus amigos do <b>Yorkut!</b></h2>
            <div class="box-amigos">
                <div class="amigo">
                    <img src="https://www.cnnbrasil.com.br/wp-content/uploads/sites/12/2024/06/messi-argentina-guatemala-e1718811255101.jpg?w=1220&h=674&crop=1"
                     alt="" class="imagem-amigo">
                    <div class="text-amigo">
                        <span class="nome-amigo">Lionel Messi</span>
                        <span class="user-amigo">lionelmessi</span>
                    </div>
                    <a href="" class="btn-serAmigo">
                        <span class="material-symbols-outlined">
                            person_check
                        </span>
                    </a>
                </div>
                <div class="amigo">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQoVybwXNH-qLDm3t2w4gOUje3RpaSByrzzmg&s"
                     alt="" class="imagem-amigo">
                    <div class="text-amigo">
                        <span class="nome-amigo">Luis Suárez</span>
                        <span class="user-amigo">luisuarez</span>
                    </div>
                    <a href="" class="btn-serAmigo">
                        <span class="material-symbols-outlined">
                            person_check
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </main>

    <!-- Aqui é onde vai ter um mini perfil e sugestão de amigos -->
    <section class="container-lateral" id="container-lateral">
        <div class="seu-perfil box">
            <img src="https://t4.ftcdn.net/jpg/03/49/49/79/360_F_349497933_Ly4im8BDmHLaLzgyKg2f2yZOvJjBtlw5.webp" alt=""
                class="sua-imagem-perfil">
            <div class="seus-info-perfil">
                <span class="seu-nome-perfil">Seu Nome</span>
                <span class="seu-user-perfil">SeuUser</span>
            </div>
            <a href="" class="btn-config">
                <span class="material-symbols-outlined">
                    settings
                </span>
            </a>
        </div>

        <div class="container-sugestao box">
            <h3>Seja amigos deles também!</h3>
            <div class="perfis-sugestao">
                <!-- Cada perfil-sugestao é um perfil -->
                <div class="perfil-sugestao">
                    <img src="https://www.netflu.com.br/futebol-internacional/wp-content/uploads/2024/03/mbappe1-1.jpg"
                        alt="" class="perfil-sugestao-imagem">
                    <div class="infos-perfil-sugestao">
                        <span class="nome">Kylian Mbappé</span>
                        <span class="user">k.Mbappe</span>
                    </div>
                    <a href="" class="btn-serAmigo">
                        <span class="material-symbols-outlined">
                            person_add
                        </span>
                    </a>
                </div>
                <div class="perfil-sugestao">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi1rrfWwm41mgIxG1ZZWqaeRfA8LjVe9i4lg&s"
                        alt="" class="perfil-sugestao-imagem">
                    <div class="infos-perfil-sugestao">
                        <span class="nome">Vinicius Jr.</span>
                        <span class="user">vinijr</span>
                    </div>
                    <a href="" class="btn-serAmigo">
                        <span class="material-symbols-outlined">
                            person_add
                        </span>
                    </a>
                </div>
                <div class="perfil-sugestao">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTv-UY5Vo9hk2V1V7ZG_4bnaw_mY1bV1YxuGA&s"
                        alt="" class="perfil-sugestao-imagem">
                    <div class="infos-perfil-sugestao">
                        <span class="nome">Rodrygo Goes</span>
                        <span class="user">rodrygogoes</span>
                    </div>
                    <a href="" class="btn-serAmigo">
                        <span class="material-symbols-outlined">
                            person_add
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <script src="{% static './src/js/home.js' %}"></script>
</body>
</html>