main {
    width: calc(100% - 220px);
    height: auto;
    min-height: 100vh;
    padding: 25px;
    margin: 0 0 0 220px;

    .container-amigos {
        max-width: 100%;
        height: 15vh;
        margin-bottom: 20px;
        overflow-x: auto;
        display: flex;
        align-items: center;
        gap: 10px;

        .amigo-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            min-width: 100px;

            .amigo-imagem {
                width: 65%;
                height: 65%;
                border-radius: 50%;
                background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
                border: 2px solid transparent;
            }

            .amigo-user {
                text-transform: lowercase;
                color: #fff;
                font-size: 14px;
            }
        }
    }

    .container-postagens {
        width: 100%;
        height: auto;
        min-height: 100vh;
        padding: 0 80px;

        .postagem {
            width: 60%;
            min-height: 80vh;
            background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
            
            border-bottom: .1px solid transparent;
            padding: 15px 0;


            .cabecalho-post {
                width: 100%;
                min-height: 15%;
                padding: 10px 5px;
                display: flex;
                align-items: center;
                gap: 8px;
                color: #fff;

                .user-imagem {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
                    border: 2px solid transparent;
                }

                .user-info-post {
                    display: flex;
                    flex-direction: column;

                    .nome-post {
                        font-size: 18px;
                        font-family: 'Montserrat',sans-serif;
                    }

                    .user-post {
                        font-size: 12px;
                        color: #b4b4b4;
                        text-transform: lowercase;
                    }
                }
            }

            .imagem-post {
                min-width: 100%;
                max-width: 100%;
                height: auto;
                border-radius: 4px;
            }

            .text-post {
                width: 100%;
                color: #fff;
                padding: 5px;

                .user-post {
                    text-transform: lowercase;
                    font-size: 16px;
                    font-weight: bold;
                }

                .legenda-post {
                    font-size: 15px;
                    color: #d8d8d8;
                }
            }

            .acao-post {
                display: flex;
                gap: 10px;

                .acao-btn {
                    font-size: 32px;
                    cursor: pointer;
                    display: flex;
                    background-color: transparent;
                    border: none;

                    span {
                        font-size: 32px;
                        color: #004aad;
                        transition: all ease .5s;
                    }


                }
            }
        }
    }
}