main {
    width: calc(75% - 200px);
    height: 100%;
    padding: 25px;
    margin: 0 0 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 920px) {
        min-width: 70vw;
    }
    

    .container-amigos {
        max-width: 100%;
        width: 100%;
        height: 15vh;
        margin-bottom: 20px;
        overflow-x: auto;
        display: flex;
        align-items: center;
        gap: 10px;

        .amigo-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            min-width: 100px;
            cursor: pointer;

            .amigo-imagem {
                width: 65%;
                height: 65%;
                border-radius: 50%;
                background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
                border: 2px solid transparent;
                object-fit: cover;
                object-position: center;
            }

            .amigo-user {
                text-transform: lowercase;
                color: #fff;
                font-size: 14px;
            }
        }
    }

    .container-postagens {
        width: 80%;
        height: auto;
        min-height: 100vh;

        .postagem {
            width: 100%;
            background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
            
            border-bottom: .1px solid transparent;
            padding: 20px 0;


            .cabecalho-post {
                width: 100%;
                min-height: 15%;
                padding: 10px 5px;
                display: flex;
                align-items: center;
                gap: 8px;
                color: #fff;

                .user-imagem {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
                    border: 2px solid transparent;
                    cursor: pointer;
                    object-fit: cover;
                    object-position: center;
                }

                .user-info-post {
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;

                    .nome-post {
                        font-size: 16px;
                        font-family: 'Montserrat',sans-serif;
                        text-transform: capitalize;
                    }

                    .user-post {
                        font-size: 10px;
                        color: #b4b4b4;
                        text-transform: lowercase;
                    }
                }
            }

            .imagem-post {
                min-width: 100%;
                max-width: 100%;
                height: auto;
                border-radius: 4px;
            }

            .text-post {
                width: 100%;
                color: #fff;
                padding: 5px;

                .user-post {
                    text-transform: lowercase;
                    font-size: 14px;
                    font-weight: bold;
                }

                .legenda-post {
                    font-size: 13px;
                    color: #d8d8d8;
                }
            }

            .acao-post {
                display: flex;
                gap: 10px;

                .acao-btn {
                    font-size: 32px;
                    cursor: pointer;
                    display: flex;
                    background-color: transparent;
                    border: none;
                    padding: 5px;
                    transition: all ease;
                    color: #004aad;
                    text-decoration: none;

                    &:active {
                        transform: scale(1.3);
                    }



                    span {
                        font-size: 32px;
                        
                        transition: all ease .5s;

                        &:hover {
                            color: #faf768;
                        }
                    }


                }

                .icon-like.ativo {
                    color: yellow;
                }
            }
        }
    }
}