main {
    width: calc(75% - 200px);
    height: 100%;
    padding: 25px;
    margin: 0 0 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1024px) {
        min-width: calc(100% - 200px);
    }

    @media screen and (max-width: 425px) {
        width: 80%;
        margin: 0 0 0 20vw;
    }
    

    .container-amigos {
        max-width: 100%;
        width: 100%;
        height: 15vh;
        margin-bottom: 20px;
        overflow-x: auto;
        display: flex;
        align-items: center;
        gap: 10px;

        @media screen and (max-width: 425px) {
            height: 10vh;
        }

        .amigo-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            min-width: 100px;
            cursor: pointer;

            @media screen and (max-width: 425px) {
                justify-content: center;
            }

            .amigo-imagem {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
                border: 2px solid transparent;
                object-fit: cover;
                object-position: center;

                @media screen and (max-width: 425px) {
                    width: 40px;
                    height: 40px;
                }
            }

            .amigo-user {
                text-transform: lowercase;
                color: #fff;
                font-size: 14px;

                @media screen and (max-width: 425px) {
                    font-size: small;
                }
            }
        }
    }

    .container-postagens {
        width: 80%;
        height: auto;
        min-height: 100vh;

        @media screen and (max-width: 425px) {
            width: 95%;
        }

        .postagem {
            width: 100%;
            background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
            
            border-bottom: .1px solid transparent;
            padding: 20px 0;



            .cabecalho-post {
                width: 100%;
                min-height: 15%;
                padding: 10px 5px;
                display: flex;
                align-items: center;
                gap: 8px;
                color: #fff;

                .user-imagem {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
                    border: 2px solid transparent;
                    cursor: pointer;
                    object-fit: cover;
                    object-position: center;

                    @media screen and (max-width: 425px) {
                        width: 35px;
                        height: 35px;
                    }
                }

                .user-info-post {
                    display: flex;
                    flex-direction: column;
                    cursor: pointer;

                    .nome-post {
                        font-size: 16px;
                        font-family: 'Montserrat',sans-serif;
                        text-transform: capitalize;

                        @media screen and (max-width: 425px) {
                            font-size: medium;
                        }
                    }

                    .user-post {
                        font-size: 10px;
                        color: #b4b4b4;
                        text-transform: lowercase;

                        @media screen and (max-width: 425px) {
                            font-size: small;
                        }
                    }
                }
            }

            .imagem-post {
                min-width: 100%;
                max-width: 100%;
                height: auto;
                border-radius: 4px;
            }

            .text-post {
                width: 100%;
                color: #fff;
                padding: 5px;

                .user-post {
                    text-transform: lowercase;
                    font-size: 14px;
                    font-weight: bold;
                }

                .legenda-post {
                    font-size: 13px;
                    color: #d8d8d8;
                }
            }

            .acao-post {
                display: flex;
                gap: 10px;

                .acao-btn {
                    font-size: 32px;
                    cursor: pointer;
                    display: flex;
                    background-color: transparent;
                    border: none;
                    padding: 5px;
                    transition: all ease;
                    color: #004aad;
                    text-decoration: none;

                    @media screen and (max-width: 425px) {
                        font-size: 24px;
                    }

                    &:active {
                        transform: scale(1.3);
                    }



                    span {
                        font-size: 32px;
                        
                        transition: all ease .5s;

                        @media screen and (max-width: 425px) {
                            font-size: 24px;
                        }

                        &:hover {
                            color: #faf768;
                        }
                    }


                }

                .icon-like.ativo {
                    color: yellow;
                }
            }
        }
    }
}


// OUTROS RESPONSIVIDADE 

/* Container onde a barra de rolagem será estilizada */
.container-amigos {
    scrollbar-width: thin; /* Para Firefox */
    scrollbar-color: rgba(124, 124, 124, 0.2) transparent; /* Para Firefox */
}

/* Estilizando a barra de rolagem para navegadores Webkit */
.container-amigos::-webkit-scrollbar {
    width: 8px; /* Largura da barra de rolagem */
}

.container-amigos::-webkit-scrollbar-track {
    background: transparent; /* Fundo do trilho da barra de rolagem */
}

.container-amigos::-webkit-scrollbar-thumb {
    background: rgba(124, 124, 124, 0.2); /* Cor e transparência da barra de rolagem */
    border-radius: 4px; /* Bordas arredondadas */
}

.container-amigos::-webkit-scrollbar-thumb:hover {
    background: rgba(124, 124, 124, 0.4); /* Cor e transparência da barra de rolagem ao passar o mouse */
}

