.modal-comentarios {
    display: none;
    max-width: 25%;
    width: 25%;
    position: fixed;
    min-height: 100%;
    top: 0;
    right: 0;
    background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;    
    border-left: .1px solid transparent;
    padding-top: 30px;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.3);
    animation: myAnim 1s ease 0s 1 normal forwards;



    .fechar-modal-comentario {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
        border-radius: 10px;
        font-size: 16px;
        padding: 5px;
        color: red;
        border: none;
        cursor: pointer;
        background: none;
    }

    .postar-comentario {
        background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
        border-bottom: 1px solid transparent;
        display: flex;
        align-items: center;
        gap: 10px;
        height: 140px;

        .my-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 5px;
            height: 100%;
            min-width: 100px;
            cursor: pointer;

            .amigo-imagem {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
                border: 2px solid transparent;
            }

            .amigo-user {
                text-transform: lowercase;
                color: #fff;
                font-size: 14px;
            }
        }

        .comentario-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 5px;

            textarea {
                font-family: sans-serif;
                font-size: 14px;
                line-height: 1.5;
                color: #333;
                outline: none;
                resize: none;
                border: 1px solid #dbdbdb;
                border-radius: 5px;
                background-color: #fff;
                padding: 10px;
                width: 100%;
            }

            button {
                float: right;
                margin-top: 5px;
                padding: 5px 10px;
                border: 1px solid #007bff;
                border-radius: 5px;
                background-color: #0b0f13;
                color: #fff;
                cursor: pointer;
                width: 100%;
                transition: all ease .5s;

                &:hover {
                    box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.3);
                    background-color: #007bff;
                }
            }
        }
    }

    .outros-comentarios {
        display: flex;
        flex-direction: column;
        padding: 10px;

        .comentario {
            padding: 10px;
            height: 100px;
            display: flex;
            align-items: start;
            gap: 12px;

            .amigo-info.user-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 5px;
                height: 100%;
                width: 40px;
                cursor: pointer;
    
                .amigo-imagem {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
                    border: 2px solid transparent;
                }
    
                .amigo-user {
                    text-transform: lowercase;
                    color: #fff;
                    font-size: 10px;
                }
            }

            .text-comentario {
                max-width: 75%;
                max-height: 100%;
                padding: 4px;
                overflow-y: auto;
                font-size: 12px;
                color: #fff;
            }
        }
    }

}

.modal-comentarios.ativo {
    display: flex;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(250px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}