main {
    width: calc(75% - 200px);
    height: auto;
    padding: 25px;
    margin: 0 0 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @media screen and (max-width: 1024px) {
        min-width: calc(100% - 200px);
    }

    @media screen and (max-width: 425px) {
        width: 80%;
        margin: 0 0 0 20vw;
    }

    .container-cabecalho {
        position: relative;
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        padding: 20px;
        gap: 30px;
        border: 1px solid #ccc;
        box-shadow: 5px 5px 5px rgba($color: #000000, $alpha: 0.3);

        .imagem-perfil {
            background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
            border: 2px solid transparent;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
            object-position: center;
        }

        .infos-perfil {
            display: flex;
            flex-direction: column;
            padding: 10px;

            .nome-perfil {
                font-size: xx-large;
                color: #fff;
                font-weight: 600;
                text-transform: capitalize;
            }

            .user-perfil {
                font-size: small;
                color: #ccc;
                text-transform: lowercase;
            }

            .amigos-number {
                display: flex;
                align-items: center;
                gap: 5px;
                color: #fff;
                margin-top: 10px;

                .number {
                    font-weight: bold;
                }
            }
        }

        .btn-config {
            position: absolute;
            margin: 20px;
            right: 0;
            top: 0;
            font-size: 24px;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: #fff;
            color: #004aad;
            border-radius: 50%;
            cursor: pointer;
            transition: all ease 0.5s;

            &:hover {
                transform: scale(1.1);
            }
        }

    }

    .container-postagens{
        width: 100%;
        height: auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: start;
        justify-content: space-between;
        gap: 20px;

        .post {
            width: 220px;
            height: 220px;
            border-radius: 4px;
            border: 1px solid #fff;
            text-decoration: none;
            transition: all ease 0.5s;

            &:hover {
                opacity: 0.7;
                scale: 1.05;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

// Modo Noturno

body.light {
    main {
        .container-cabecalho {
            border: 1px solid #181818;

            .infos-perfil {
                .nome-perfil {
                    color: #000;
                }
    
                .user-perfil {
                    color: #181818;
                }
    
                .amigos-number {
                    color: #000;
                }
            }
        }
    }
}