main {
    width: calc(75% - 200px);
    height: 100%;
    padding: 25px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 1024px) {
        width: calc(100% - 200px);
    }

    @media screen and (max-width: 425px) {
        width: 80%;
        margin: 0 0 0 20vw;
    }

    h1 {
        color: #fff;
        font-weight: 500;
    }

    .criar-postagem {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        padding: 20px;
        

        .imagem-preview {
            width: 55%;
            height: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
        }


        .form-postagem {
            display: flex;
            flex-direction: column;
            width: 40%;
            gap: 10px;
            color: #000;
            background: #cccccc9a;
            padding: 15px;
            border-radius: 8px;
            border: 1px solid blue;

            .usuario-info {
                display: flex;
                align-items: center;
                gap: 10px;
                height: 100px;
                min-width: 100px;
                cursor: pointer;
    
                .amigo-imagem {
                    width: 60px;
                    height: 60%;
                    border-radius: 50%;
                    background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
                    border: 2px solid transparent;
                }
    
                .amigo-user {
                    text-transform: lowercase;
                    color: #000;
                    font-size: 14px;
                }
            }

            .input-box {
                display: flex;
                flex-direction: column;
                

                .label-enviar-imagem {
                    display: inline-block;
                    width: 100%;
                    padding: 10px 20px;
                    border: 2px solid #004aad;
                    border-radius: 5px;
                    cursor: pointer;
                    transition: background-color 0.3s;
                    margin-bottom: 20px;

                    &:hover {
                        background-color: #eee;
                        color: #181818;
                    }
                }

                .input-imagem {
                    display: none;
                }

                textarea {
                    width: 100%;
                    height: 100px;
                    background-color: #fff;
                    padding: 10px;
                    border-radius: 5px;
                    resize: none;
                    border: 1px solid #ccc;
                    margin-bottom: 20px;

                    &:focus {
                        outline: 2px solid #004aad;
                    }
                }

                .label-legenda {
                    margin-bottom: 10px;
                }
            }

            button {
                width: 100%;
                padding: 10px;
                border: 2px solid #004aad;
                background-color: transparent;
                color: #000;
                font-size: 18px;
                border-radius: 8px;
                cursor: pointer;
                transition: background ease .5s;

                &:hover {
                    background:#004aad;
                }
            }
        }
    }
}