@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #181818;
  display: flex;
  flex-direction: row;
  color: #fff;
}

body.light {
  background: #d6d6d6;
  color: #000;
}

.sidebar {
  height: 100%;
  width: 200px;
  max-width: 30vw;
  padding: 30px 10px;
  position: fixed;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border-right: 0.25px solid transparent;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(24, 24, 24, 0.2117647059);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
@media screen and (max-width: 425px) {
  .sidebar {
    max-width: 20vw;
  }
}
.sidebar .logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 5px;
}
.sidebar .logo img {
  width: 30%;
  height: auto;
}
@media screen and (max-width: 425px) {
  .sidebar .logo img {
    width: 90%;
  }
}
.sidebar .logo span {
  display: block;
  font-size: 20px;
  font-weight: bold;
  font-family: "Margarine", sans-serif;
  color: #004aad;
  margin-bottom: 5px;
}
@media screen and (max-width: 425px) {
  .sidebar .logo span {
    display: none;
  }
}
.sidebar .side-items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 75%;
  list-style-type: none;
  font-size: 16px;
}
.sidebar .side-items .side-item {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: all ease 0.5s;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}
.sidebar .side-items .side-item:hover {
  background-color: rgba(2, 84, 190, 0.4235294118);
}
.sidebar .side-items .side-item:hover .side-icon {
  transform: scale(1.1);
}
.sidebar .side-items .side-item .side-text {
  text-decoration: none;
  color: #fff;
  display: block;
}
@media screen and (max-width: 425px) {
  .sidebar .side-items .side-item .side-text {
    display: none;
  }
}
.sidebar .side-items .side-item .side-icon {
  font-size: 28px;
  transition: all ease 0.3s;
}
.sidebar .side-items .side-item.bloqueado {
  cursor: not-allowed;
  opacity: 0.5;
}
.sidebar .side-items .side-item.bloqueado:hover {
  opacity: 0.6;
}
.sidebar .side-items .side-item.ativo {
  font-weight: bold;
}
.sidebar .sair {
  border: none;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  color: red;
  background-color: transparent;
  font-size: 16px;
  padding: 10px;
  transition: all ease 0.5s;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (max-width: 425px) {
  .sidebar .sair {
    font-size: x-small;
  }
}
.sidebar .sair:hover {
  background-color: rgba(253, 69, 69, 0.192);
}
.sidebar .sair span {
  color: red;
}

body.light .sidebar {
  background: linear-gradient(45deg, #d6d6d6, #d6d6d6) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border-right: 0.25px solid transparent;
  color: #000;
}
body.light .sidebar .side-item {
  color: #000;
}
body.light .sidebar .side-item .side-text {
  color: #000;
}

main {
  width: calc(75% - 200px);
  height: auto;
  padding: 25px;
  margin: 0 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
@media screen and (max-width: 1024px) {
  main {
    min-width: calc(100% - 200px);
  }
}
@media screen and (max-width: 425px) {
  main {
    width: 80%;
    margin: 0 0 0 20vw;
  }
}
main .container-cabecalho {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 20px;
  gap: 30px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}
main .container-cabecalho .imagem-perfil {
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
main .container-cabecalho .infos-perfil {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
main .container-cabecalho .infos-perfil .nome-perfil {
  font-size: xx-large;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}
main .container-cabecalho .infos-perfil .user-perfil {
  font-size: small;
  color: #ccc;
  text-transform: lowercase;
}
main .container-cabecalho .infos-perfil .amigos-number {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  margin-top: 10px;
}
main .container-cabecalho .infos-perfil .amigos-number .number {
  font-weight: bold;
}
main .container-cabecalho .btn-config {
  position: absolute;
  margin: 20px;
  right: 0;
  top: 0;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #fff;
  color: #004aad;
  border-radius: 50%;
  cursor: pointer;
  transition: all ease 0.5s;
}
main .container-cabecalho .btn-config:hover {
  transform: scale(1.1);
}
main .container-postagens {
  width: 100%;
  height: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  gap: 20px;
}
main .container-postagens .post {
  width: 220px;
  height: 220px;
  border-radius: 4px;
  border: 1px solid #fff;
  text-decoration: none;
  transition: all ease 0.5s;
}
main .container-postagens .post:hover {
  opacity: 0.7;
  scale: 1.05;
}
main .container-postagens .post img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

body.light main .container-cabecalho {
  border: 1px solid #181818;
}
body.light main .container-cabecalho .infos-perfil .nome-perfil {
  color: #000;
}
body.light main .container-cabecalho .infos-perfil .user-perfil {
  color: #181818;
}
body.light main .container-cabecalho .infos-perfil .amigos-number {
  color: #000;
}

.container-lateral {
  width: 25%;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border-left: 0.5px solid transparent;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(24, 24, 24, 0.2117647059);
  padding: 25px;
  position: fixed;
  height: 100vh;
  right: 0;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1024px) {
  .container-lateral {
    display: none;
  }
}
.container-lateral .box {
  width: 100%;
  min-height: 50px;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
}
.container-lateral .seu-perfil {
  display: flex;
  align-items: center;
  position: relative;
}
.container-lateral .seu-perfil .sua-imagem-perfil {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
  margin-right: 10px;
  object-fit: cover;
  object-position: center;
}
.container-lateral .seu-perfil .seus-info-perfil {
  display: flex;
  flex-direction: column;
}
.container-lateral .seu-perfil .seus-info-perfil .seu-nome-perfil {
  text-transform: capitalize;
}
.container-lateral .seu-perfil .seus-info-perfil .seu-user-perfil {
  color: #ccc;
  font-size: 12px;
  text-transform: lowercase;
}
.container-lateral .seu-perfil .btn-config {
  position: absolute;
  right: 0;
  top: 50;
  margin: 10px;
  text-decoration: none;
  color: #808080;
  font-size: 24px;
  transition: all ease 0.3s;
}
.container-lateral .seu-perfil .btn-config:hover {
  color: #fff;
  transform: scale(1.05);
}
.container-lateral .container-sugestao {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container-lateral .container-sugestao h3 {
  font-size: 20px;
}
.container-lateral .container-sugestao .perfis-sugestao {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container-lateral .container-sugestao .perfis-sugestao .perfil-sugestao {
  display: flex;
  padding: 10px 0px;
  gap: 10px;
  position: relative;
}
.container-lateral .container-sugestao .perfis-sugestao .perfil-sugestao .perfil-sugestao-imagem {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
  object-fit: cover;
  object-position: center;
}
.container-lateral .container-sugestao .perfis-sugestao .perfil-sugestao .infos-perfil-sugestao {
  display: flex;
  flex-direction: column;
}
.container-lateral .container-sugestao .perfis-sugestao .perfil-sugestao .infos-perfil-sugestao .user {
  color: #ccc;
  font-size: 12px;
  text-transform: lowercase;
}
.container-lateral .container-sugestao .perfis-sugestao .perfil-sugestao .btn-serAmigo {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  color: #004aad;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 50;
  scale: 0.8;
  transition: all ease 0.3s;
}
.container-lateral .container-sugestao .perfis-sugestao .perfil-sugestao .btn-serAmigo:hover {
  scale: 1;
}
.container-lateral .container-sugestao .perfis-sugestao .perfil-sugestao .btn-serAmigo.seguindo {
  color: rgb(27, 126, 27);
}

body.light .container-lateral {
  background: linear-gradient(#d6d6d6, #d6d6d6) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
}
body.light .container-lateral .box {
  background: linear-gradient(#d6d6d6, #d6d6d6) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  color: #000;
}
body.light .container-lateral .seus-info-perfil .seu-user-perfil {
  color: #181818;
}
body.light .container-lateral .btn-config {
  color: #1d1d1d;
}
body.light .container-lateral .btn-config:hover {
  color: #000;
}
body.light .container-lateral .perfis-sugestao .perfil-sugestao .infos-perfil-sugestao .user {
  color: #181818;
}

.modal-config {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}
.modal-config .container {
  border: 1px solid #fff;
  padding: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 40px;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
  border-radius: 4px;
  width: 580px;
  max-width: 720px;
  height: 65vh;
}
.modal-config .container .fechar-modal {
  position: absolute;
  border: none;
  background: transparent;
  cursor: pointer;
  color: #ff2b2b;
  margin: 10px;
  top: 0;
  right: 0;
}
.modal-config .container .fechar-modal span {
  font-size: 32px;
}
.modal-config .container .title {
  font-size: x-large;
  margin-left: 20px;
  padding-left: 20px;
}
.modal-config .container .botao-noturno {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
}
.modal-config .container .botao-noturno span {
  padding: 5px;
  font-size: 24px;
  color: #ffbb00;
  text-align: center;
  font-weight: bold;
}
.modal-config .container .editar-infos {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.modal-config .container .editar-infos .input-box {
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.modal-config .container .editar-infos .input-box input {
  width: 100%;
  padding: 10px 20px;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 0.5px solid transparent;
  border-radius: 5px;
  color: #fff;
}
.modal-config .container .editar-infos .input-box input:focus {
  outline: none;
}
.modal-config .container .editar-infos .editar-foto {
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}
.modal-config .container .editar-infos .editar-foto .image-preview {
  width: 180px;
  height: 180px;
  object-fit: cover;
  object-position: center;
  border-radius: 4px;
  position: absolute;
  margin-top: 120px;
  margin-right: 60px;
  right: 0;
  top: 0;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}
.modal-config .container .editar-infos .editar-foto .input-box {
  width: 250px;
}
.modal-config .container .editar-infos .editar-foto .input-box label {
  width: 100%;
  padding: 10px 20px;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 0.5px solid transparent;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
.modal-config .container .editar-infos .editar-foto .input-box input {
  display: none;
}
.modal-config .container .editar-infos .btn-salvar {
  width: 250px;
  padding: 10px 20px;
  color: #fff;
  background: #004aad;
  border: none;
  cursor: pointer;
  transition: all ease 0.5s;
  border-radius: 5px;
}
.modal-config .container .editar-infos .btn-salvar:hover {
  color: #004aad;
  background-color: #fff;
}

.modal-config.ativo {
  display: flex;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000;
}
#loading-screen .spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=perfil.css.map */
