@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #2e2e2e, #181818);
  background-size: 200%;
  animation: colors 30s ease infinite;
  padding: 40px;
  position: relative;
}

/* Tela de Carregamento */
#loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .spinner {
      border: 16px solid #f3f3f3;
      border-top: 16px solid #3498db;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.container {
  max-width: 90vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .container {
    height: 120vh;
  }

  .container .container-formulario {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .container {
    height: 140vh;
  }

  .container .container-formulario {
    width: 100%;
  }
}

.titulo-formulario p {
  color: gray;
}

.container-formulario {
  width: 60%;
  height: 100%;
  background-color: rgba(46, 46, 46, 0.7176470588);
  background: linear-gradient(#2e2e2e, #2e2e2e) padding-box, linear-gradient(90deg, #004AAD, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  position: relative;
}


.container-formulario .titulo-formulario {
  text-align: center;
}

.container-formulario .formulario {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}

.container-formulario .inputs {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 48%;
  min-width: 260px;
}

@media screen and(max-width: 600px) {
  .container-formulario .inputs {
    width: 100%;
    align-items: center;
  }
}

.container-formulario .inputs input {
  background: linear-gradient(#2e2e2e, #2e2e2e) padding-box, linear-gradient(90deg, #004AAD, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 14px;
  background-color: transparent;
  color: #fff;
}

.container-formulario .inputs input:focus {
  outline: 1px solid #5de;
}


.container-formulario button {
  width: 48%;
  min-width: 260px;
  max-height: 40px;
  font-size: 20px;
  color: #fff;
  background: #4a8df8;
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in 0.5s;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 5px;

  a {
    width: 100%;
    color: #fff;
    text-decoration: none;
    text-align: center;

    &:hover {
      color: #004aad;
      transition: all ease-in 0.5s;
    }

    @media screen and (max-width: 375px) {
      font-size: 14px;
    }
  }
}





footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  color: #fff;
  margin-top: 20px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  color: #004AAD;
  transition: all ease-in 0.5s;
}


/* Modo Noturno */

.botao-noturno {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}
.botao-noturno span {
  padding: 5px;
  font-size: 24px;
  color: #ffbb00;
  text-align: center;
  font-weight: bold;
}

body.light {
  background: linear-gradient(45deg, #d6d6d6, #a5a5a5);
  color: #000;
}
body.light .container-imagem-registro {
  background-color: none;
  color: #000;
}
body.light .container-formulario, body.light .genero-inputs, body.light .inputs input {
  background-color: rgba(46, 46, 46, 0.7176470588);
  background: linear-gradient(#d6d6d6, #d6d6d6) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
  color: #000;
}

body.light .radio-button, body.light .genero-inputs, body.light .container-genero {
  color: #000;
}

body.light .container-formulario .info a {
  color: #000;
}
body.light footer, body.light footer a {
  color: #000;
}