@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #181818;
  display: flex;
  flex-direction: row;
}

#loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#loading-screen .spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.sidebar {
  height: 100%;
  width: 200px;
  max-width: 30vw;
  padding: 30px 10px;
  position: fixed;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border-right: 0.25px solid transparent;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(24, 24, 24, 0.2117647059);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.sidebar .logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 5px;
}
.sidebar .logo img {
  width: 30%;
  height: auto;
}
.sidebar .logo span {
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #004aad;
  margin-bottom: 5px;
}
.sidebar .side-items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 75%;
  list-style-type: none;
  font-size: 16px;
}
.sidebar .side-items .side-item {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  cursor: pointer;
  transition: all ease 0.5s;
  border-radius: 5px;
}
.sidebar .side-items .side-item:hover {
  background-color: rgba(2, 84, 190, 0.4235294118);
}
.sidebar .side-items .side-item:hover .side-icon {
  transform: scale(1.1);
}
.sidebar .side-items .side-item .side-text {
  text-decoration: none;
  color: #fff;
}
.sidebar .side-items .side-item .side-icon {
  font-size: 28px;
  transition: all ease 0.3s;
}
.sidebar .side-items .side-item.ativo {
  font-weight: bold;
}
.sidebar .sair {
  border: none;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  color: red;
  background-color: transparent;
  font-size: 16px;
  padding: 10px;
  transition: all ease 0.5s;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar .sair:hover {
  background-color: rgba(253, 69, 69, 0.192);
}
.sidebar .sair span {
  color: red;
}

main {
  width: calc(75% - 200px);
  height: 100%;
  padding: 25px;
  margin: 0 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 920px) {
  main {
    min-width: 70vw;
  }
}
main .container-amigos {
  max-width: 100%;
  width: 100%;
  height: 15vh;
  margin-bottom: 20px;
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
main .container-amigos .amigo-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-width: 100px;
  cursor: pointer;
}
main .container-amigos .amigo-info .amigo-imagem {
  width: 65%;
  height: 65%;
  border-radius: 50%;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
}
main .container-amigos .amigo-info .amigo-user {
  text-transform: lowercase;
  color: #fff;
  font-size: 14px;
}
main .container-postagens {
  width: 80%;
  height: auto;
  min-height: 100vh;
}
main .container-postagens .postagem {
  width: 100%;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border-bottom: 0.1px solid transparent;
  padding: 20px 0;
}
main .container-postagens .postagem .cabecalho-post {
  width: 100%;
  min-height: 15%;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}
main .container-postagens .postagem .cabecalho-post .user-imagem {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
  cursor: pointer;
}
main .container-postagens .postagem .cabecalho-post .user-info-post {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
main .container-postagens .postagem .cabecalho-post .user-info-post .nome-post {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}
main .container-postagens .postagem .cabecalho-post .user-info-post .user-post {
  font-size: 10px;
  color: #b4b4b4;
  text-transform: lowercase;
}
main .container-postagens .postagem .imagem-post {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
main .container-postagens .postagem .text-post {
  width: 100%;
  color: #fff;
  padding: 5px;
}
main .container-postagens .postagem .text-post .user-post {
  text-transform: lowercase;
  font-size: 14px;
  font-weight: bold;
}
main .container-postagens .postagem .text-post .legenda-post {
  font-size: 13px;
  color: #d8d8d8;
}
main .container-postagens .postagem .acao-post {
  display: flex;
  gap: 10px;
}
main .container-postagens .postagem .acao-post .acao-btn {
  font-size: 32px;
  cursor: pointer;
  display: flex;
  background-color: transparent;
  border: none;
  padding: 5px;
  transition: all ease;
  color: #004aad;
  text-decoration: none;
}
main .container-postagens .postagem .acao-post .acao-btn:active {
  transform: scale(1.3);
}
main .container-postagens .postagem .acao-post .acao-btn span {
  font-size: 32px;
  transition: all ease 0.5s;
}
main .container-postagens .postagem .acao-post .acao-btn span:hover {
  color: #faf768;
}
main .container-postagens .postagem .acao-post .icon-like.ativo {
  color: yellow;
}

.container-lateral {
  width: 25%;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border-left: 0.5px solid transparent;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(24, 24, 24, 0.2117647059);
  padding: 25px;
  position: fixed;
  height: 100vh;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .container-lateral {
    display: none;
  }
}
.container-lateral .box {
  width: 100%;
  min-height: 50px;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 1px solid transparent;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
  color: #fff;
}
.container-lateral .seu-perfil {
  display: flex;
  align-items: center;
  position: relative;
}
.container-lateral .seu-perfil .sua-imagem-perfil {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
  margin-right: 10px;
}
.container-lateral .seu-perfil .seus-info-perfil {
  display: flex;
  flex-direction: column;
}
.container-lateral .seu-perfil .seus-info-perfil .seu-user-perfil {
  color: #ccc;
  font-size: 12px;
  text-transform: lowercase;
}
.container-lateral .seu-perfil .btn-config {
  position: absolute;
  right: 0;
  top: 50;
  margin: 10px;
  text-decoration: none;
  color: #808080;
  font-size: 24px;
  transition: all ease 0.3s;
}
.container-lateral .seu-perfil .btn-config:hover {
  color: #fff;
  transform: scale(1.05);
}
.container-lateral .container-sugestao {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container-lateral .container-sugestao h3 {
  font-size: 20px;
}
.container-lateral .container-sugestao .perfis-sugestao {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container-lateral .container-sugestao .perfis-sugestao .perfil-sugestao {
  display: flex;
  padding: 10px 0px;
  gap: 10px;
  position: relative;
}
.container-lateral .container-sugestao .perfis-sugestao .perfil-sugestao .perfil-sugestao-imagem {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
}
.container-lateral .container-sugestao .perfis-sugestao .perfil-sugestao .infos-perfil-sugestao {
  display: flex;
  flex-direction: column;
}
.container-lateral .container-sugestao .perfis-sugestao .perfil-sugestao .infos-perfil-sugestao .user {
  color: #ccc;
  font-size: 12px;
  text-transform: lowercase;
}
.container-lateral .container-sugestao .perfis-sugestao .perfil-sugestao .btn-serAmigo {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #fff;
  color: #004aad;
  text-decoration: none;
  position: absolute;
  right: 0;
  top: 50;
  transition: all ease 0.3s;
}
.container-lateral .container-sugestao .perfis-sugestao .perfil-sugestao .btn-serAmigo:hover {
  transform: scale(1.1);
}

/*# sourceMappingURL=home.css.map */
