@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #181818;
  display: flex;
  flex-direction: row;
}

.sidebar {
  height: 100%;
  width: 200px;
  max-width: 30vw;
  padding: 30px 10px;
  position: fixed;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border-right: 0.25px solid transparent;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  background-color: rgba(24, 24, 24, 0.2117647059);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}
.sidebar .logo {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 5px;
}
.sidebar .logo img {
  width: 30%;
  height: auto;
}
.sidebar .logo span {
  font-size: 20px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  color: #004aad;
  margin-bottom: 5px;
}
.sidebar .side-items {
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 75%;
  list-style-type: none;
  font-size: 16px;
}
.sidebar .side-items .side-item {
  padding: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  cursor: pointer;
  transition: all ease 0.5s;
  border-radius: 5px;
}
.sidebar .side-items .side-item:hover {
  background-color: rgba(2, 84, 190, 0.4235294118);
}
.sidebar .side-items .side-item:hover .side-icon {
  transform: scale(1.1);
}
.sidebar .side-items .side-item .side-icon {
  font-size: 28px;
  transition: all ease 0.3s;
}
.sidebar .side-items .side-item.ativo {
  font-weight: bold;
}
.sidebar .sair {
  border: none;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  color: red;
  background-color: transparent;
  font-size: 16px;
  padding: 10px;
  transition: all ease 0.5s;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar .sair:hover {
  background-color: rgba(253, 69, 69, 0.192);
}
.sidebar .sair span {
  color: red;
}

.modal-comentarios {
  display: none;
  max-width: 25%;
  width: 25%;
  position: fixed;
  min-height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border-left: 0.1px solid transparent;
  padding-top: 30px;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  animation: myAnim 1s ease 0s 1 normal forwards;
}
.modal-comentarios .fechar-modal-comentario {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px;
  color: red;
  border: none;
  cursor: pointer;
  background: none;
}
.modal-comentarios .postar-comentario {
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border-bottom: 1px solid transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 140px;
}
.modal-comentarios .postar-comentario .my-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;
  min-width: 100px;
  cursor: pointer;
}
.modal-comentarios .postar-comentario .my-info .amigo-imagem {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
}
.modal-comentarios .postar-comentario .my-info .amigo-user {
  text-transform: lowercase;
  color: #fff;
  font-size: 14px;
}
.modal-comentarios .postar-comentario .comentario-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.modal-comentarios .postar-comentario .comentario-form textarea {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
  outline: none;
  resize: none;
  border: 1px solid #dbdbdb;
  border-radius: 5px;
  background-color: #fff;
  padding: 10px;
  width: 100%;
}
.modal-comentarios .postar-comentario .comentario-form button {
  float: right;
  margin-top: 5px;
  padding: 5px 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  background-color: #0b0f13;
  color: #fff;
  cursor: pointer;
  width: 100%;
  transition: all ease 0.5s;
}
.modal-comentarios .postar-comentario .comentario-form button:hover {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  background-color: #007bff;
}
.modal-comentarios .outros-comentarios {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.modal-comentarios .outros-comentarios .comentario {
  padding: 10px;
  height: 100px;
  display: flex;
  align-items: start;
  gap: 12px;
}
.modal-comentarios .outros-comentarios .comentario .amigo-info.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;
  width: 40px;
  cursor: pointer;
}
.modal-comentarios .outros-comentarios .comentario .amigo-info.user-info .amigo-imagem {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
}
.modal-comentarios .outros-comentarios .comentario .amigo-info.user-info .amigo-user {
  text-transform: lowercase;
  color: #fff;
  font-size: 10px;
}
.modal-comentarios .outros-comentarios .comentario .text-comentario {
  max-width: 75%;
  max-height: 100%;
  padding: 4px;
  overflow-y: auto;
  font-size: 12px;
  color: #fff;
}

.modal-comentarios.ativo {
  display: flex;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
main {
  width: calc(75% - 200px);
  height: 100%;
  padding: 25px;
  margin: 0 0 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .container-amigos {
  max-width: 100%;
  width: 100%;
  height: 15vh;
  margin-bottom: 20px;
  overflow-x: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
main .container-amigos .amigo-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-width: 100px;
  cursor: pointer;
}
main .container-amigos .amigo-info .amigo-imagem {
  width: 65%;
  height: 65%;
  border-radius: 50%;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
}
main .container-amigos .amigo-info .amigo-user {
  text-transform: lowercase;
  color: #fff;
  font-size: 14px;
}
main .container-postagens {
  width: 80%;
  height: auto;
  min-height: 100vh;
}
main .container-postagens .postagem {
  width: 100%;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border-bottom: 0.1px solid transparent;
  padding: 20px 0;
}
main .container-postagens .postagem .cabecalho-post {
  width: 100%;
  min-height: 15%;
  padding: 10px 5px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}
main .container-postagens .postagem .cabecalho-post .user-imagem {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(#181818, #181818) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
  cursor: pointer;
}
main .container-postagens .postagem .cabecalho-post .user-info-post {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
main .container-postagens .postagem .cabecalho-post .user-info-post .nome-post {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}
main .container-postagens .postagem .cabecalho-post .user-info-post .user-post {
  font-size: 10px;
  color: #b4b4b4;
  text-transform: lowercase;
}
main .container-postagens .postagem .imagem-post {
  min-width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}
main .container-postagens .postagem .text-post {
  width: 100%;
  color: #fff;
  padding: 5px;
}
main .container-postagens .postagem .text-post .user-post {
  text-transform: lowercase;
  font-size: 14px;
  font-weight: bold;
}
main .container-postagens .postagem .text-post .legenda-post {
  font-size: 13px;
  color: #d8d8d8;
}
main .container-postagens .postagem .acao-post {
  display: flex;
  gap: 10px;
}
main .container-postagens .postagem .acao-post .acao-btn {
  font-size: 32px;
  cursor: pointer;
  display: flex;
  background-color: transparent;
  border: none;
  padding: 5px;
  transition: all ease;
  color: #004aad;
}
main .container-postagens .postagem .acao-post .acao-btn:active {
  transform: scale(1.3);
}
main .container-postagens .postagem .acao-post .acao-btn span {
  font-size: 32px;
  transition: all ease 0.5s;
}
main .container-postagens .postagem .acao-post .acao-btn span:hover {
  color: #faf768;
}
main .container-postagens .postagem .acao-post .icon-like.ativo {
  color: yellow;
}

/*# sourceMappingURL=home.css.map */
