@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #2e2e2e, #181818);
  background-size: 200%;
  animation: colors 20s ease infinite;
  transition: all 0.5s ease;
}

#loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#loading-screen .spinner {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.container-principal {
  max-width: 85vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .container-principal {
    height: 160vh;
    margin: 10vh 0;
    flex-wrap: wrap-reverse;
  }
}
.container-principal .container-secundario {
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .container-principal .container-secundario {
    width: 100%;
    height: 50%;
  }
}

.container-imagem-registro {
  background-color: none;
  color: #fff;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container-imagem-registro h1 {
  font-size: 56px;
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 375px) {
  .container-imagem-registro h1 {
    font-size: 36px;
  }
}
.container-imagem-registro h1 b {
  color: #004aad;
}
@media screen and (max-width: 375px) {
  .container-imagem-registro p {
    font-size: 12px;
  }
}

.container-formulario {
  background-color: rgba(46, 46, 46, 0.7176470588);
  background: linear-gradient(#2e2e2e, #2e2e2e) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: 0.5s;
}
.container-formulario .titulo-formulario {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 20px;
}
.container-formulario .titulo-formulario h2 {
  font-size: 28px;
}
.container-formulario .titulo-formulario span {
  color: #7c7c7c;
  font-size: 14px;
}
.container-formulario .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}
.container-formulario .formulario .input-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 80%;
}
@media screen and (max-width: 375px) {
  .container-formulario .formulario .input-box {
    width: 100%;
  }
}
.container-formulario .formulario .input-box label {
  font-size: 18px;
  margin-left: 10px;
}
@media screen and (max-width: 375px) {
  .container-formulario .formulario .input-box label {
    font-size: 14px;
  }
}
.container-formulario .formulario .input-box input {
  background: linear-gradient(#2e2e2e, #2e2e2e) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
  padding: 10px 10px;
  border-radius: 10px;
  font-size: 14px;
  background-color: transparent;
  color: #fff;
}
@media screen and (max-width: 375px) {
  .container-formulario .formulario .input-box input {
    font-size: 10;
  }
}
.container-formulario .formulario .input-box input:focus {
  outline: 1px solid #5de;
}
.container-formulario .formulario button {
  width: 50%;
  font-size: 20px;
  background: #4a8df8;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all ease-in 0.5s;
}
.container-formulario .formulario button:hover {
  background-color: rgba(74, 141, 248, 0.631372549);
}
@media screen and (max-width: 375px) {
  .container-formulario .formulario button {
    width: 80%;
  }
}
.container-formulario .info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 5px;
}
.container-formulario .info a {
  width: 100%;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
.container-formulario .info a:hover {
  color: #004aad;
  transition: all ease-in 0.5s;
}
@media screen and (max-width: 375px) {
  .container-formulario .info a {
    font-size: 14px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100%;
  color: #fff;
  padding: 20px;
  font-size: 14px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  color: #004aad;
  transition: all ease-in 0.5s;
}

.botao-noturno {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
}
.botao-noturno span {
  padding: 5px;
  font-size: 24px;
  color: #ffbb00;
  text-align: center;
  font-weight: bold;
}

body.light {
  background: linear-gradient(45deg, #d6d6d6, #a5a5a5);
  color: #000;
}
body.light .container-imagem-registro {
  background-color: none;
  color: #000;
}
body.light .container-formulario {
  background-color: rgba(46, 46, 46, 0.7176470588);
  background: linear-gradient(#d6d6d6, #d6d6d6) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
  color: #000;
}
body.light .container-formulario .input-box input {
  background: linear-gradient(#d6d6d6, #d6d6d6) padding-box, linear-gradient(90deg, #004aad, #40c9ff) border-box;
  border: 2px solid transparent;
  color: #000;
}
body.light .container-formulario .info a {
  color: #000;
}
body.light footer {
  color: #000;
}



/*# sourceMappingURL=login.css.map */
